In [1]:
import numpy as np

In [2]:
import pandas as pd

In [9]:
date_range = pd.date_range('4/12/2022',periods=12,freq='M')
dates = pd.DataFrame(date_range,columns=['Date'])
dates

         Date
0  2022-04-30
1  2022-05-31
2  2022-06-30
3  2022-07-31
4  2022-08-31
5  2022-09-30
6  2022-10-31
7  2022-11-30
8  2022-12-31
9  2023-01-31
10 2023-02-28
11 2023-03-31

In [10]:
dates['Day']=dates['Date'].dt.day
dates['Month']=dates['Date'].dt.month
dates['Year']=dates['Date'].dt.year
dates

         Date  Day  Month  Year
0  2022-04-30   30      4  2022
1  2022-05-31   31      5  2022
2  2022-06-30   30      6  2022
3  2022-07-31   31      7  2022
4  2022-08-31   31      8  2022
5  2022-09-30   30      9  2022
6  2022-10-31   31     10  2022
7  2022-11-30   30     11  2022
8  2022-12-31   31     12  2022
9  2023-01-31   31      1  2023
10 2023-02-28   28      2  2023
11 2023-03-31   31      3  2023

In [17]:
df=pd.DataFrame({'DATE_TIME':['Jan 1 12:00 am','Jan 2 12:00 am']})
df

        DATE_TIME
0  Jan 1 12:00 am
1  Jan 2 12:00 am

In [19]:
df['Date'] = pd.to_datetime(df['DATE_TIME'],format='%b %d %I:%M %p')
df

        DATE_TIME       Date
0  Jan 1 12:00 am 1900-01-01
1  Jan 2 12:00 am 1900-01-02